body{
    margin: 0;
    padding: 0;
	height: 100%;
    font-family: "Noto Serif TC", serif !important;
    background-color: #F0EBE3 !important;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    flex: 1;
    padding-bottom: 100px; 
}
footer{
    background-color: #576F72;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.foot{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

/*Navigation*/

.navigation {
	margin: 130px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	visibility: visible;
	height: 0px;
 	position: relative;
	margin-left: 150px;
}

	@media screen and (max-width: 800px) {	

	.navigation {
		visibility: hidden;
		position: inherit;
		height: inherit;
	}	
	} 

.navigation ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

.navigation li {
	float: left;
	margin: 0px 20px 0px 20px;
	padding: 0px 30px 0px 30px;
}

.navigation a {
	font-weight: 500;
	font-size: 20px; /*Fallback*/
	font-size: 2rem;
	line-height: 1.0;
	color: #576F72;
	text-decoration: none;
}

.navigation a:hover {
	font-weight: 500;
	font-size: 20px; /*Fallback*/
	font-size: 2rem;
	line-height: 1.0;
	color: rgba(35,35,35,1);
	text-decoration: none;
}

.navigation a span {
	font-weight: 500;
	font-size: 20px; /*Fallback*/
	font-size: 2rem;
	line-height: 1.0;
	color: rgba(35,35,35,1);
	text-decoration: none;
	border-bottom: 3px solid rgba(35,35,35,1);
	padding: 0px 0px 2px 0px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: whitesmoke;
	text-align: center;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-menu a {
	color: #ADC2A9;
	text-decoration: none;
	display: block;
	font-size: 1rem;
	padding: 10px 0px;
	white-space: nowrap;
}
.dropdown-menu a:hover {
	font-size: 1rem;
	color: #576F72;
}
.dropdown:hover .dropdown-menu {
	display: block;
}

/* home design */
.home-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 70vh;
	padding: 5px;
	color: #576F72;
	gap: 120px;
	margin-left: 170px;
	margin-top: 50px;
	margin-bottom: 150px;
}
.home-content h1 {
	font-size: 4.5rem;
	font-weight: 700;
}
.home-content a{
	text-decoration: none;
	color: #F0EBE3;
}
.home-content a:hover{
	color: #576F72;
}
.home-content a.learn-more {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 5px 10px;
    color: #99A799;
    border: none;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    background: linear-gradient(90deg, #99A799, #576F72);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: background-size 0.5s, -webkit-text-fill-color 0.5s;
    -webkit-text-fill-color: #99A799;
}

.home-content a.learn-more:hover {
    background-size: 200% 200%;
    background-position: 100% 0;
    -webkit-text-fill-color: #F0EBE3;
}
/*停留時逐漸產生learn-line*/
.home-content a.learn-more::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: linear-gradient(90deg, #99A799, #576F72);
	transition: width 0.5s;
	z-index: -1;
}
.home-content a.learn-more:hover::before {
	width: 100%;
}
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 30px;
}

/* service design */
.service-link2:hover {
	color: black !important;
	background-color: transparent; 
}

.service-link2:hover i {
	transform: rotate(180deg); 
}
.service-link2:focus {
    outline: none; 
    color: #576F72 !important;
    background-color: transparent; 
}
.service-link2 i {
    font-size: 15px; 
    margin-left: 20px;
    transition: transform 0.5s ease; 
}
/* service-content design */
.service-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 70vh;
	padding: 10px;
	color: #576F72;
	gap: 100px;
	margin-left: 100px;
	margin-top: 150px;
	margin-bottom: 300px;
}
.service-box-content {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	text-align: center;
	gap: 20px;
}
.service-box-link a{
    color: #F0EBE3;
    text-decoration: none;
    background: #576F72;
    padding: 5px 10px;
    transition: 0.5s;
}

.service-box-link a:hover{
    color: #576F72;
    background: #E4DCCF;
}
.service-box-pic img{
	width: 450px;
	height: 450px;
}