body{
    margin: 0;
    padding: 0;
	height: 100%;
    font-family: "Noto Serif TC", serif !important;
    background-color: #F0EBE3 !important;
}
.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    flex: 1;
    padding-bottom: 100px; 
}
footer{
    background-color: #576F72;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*Navigation*/

.navigation {
	margin: 100px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	visibility: visible;
	height: 0px;
 	position: relative;
}

	@media screen and (max-width: 600px) {	

	.navigation {
		visibility: hidden;
		position: inherit;
		height: inherit;
	}	
	} /* Media Query Ende */

.navigation ul {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

.navigation li {
	float: left;
	margin: 0px 20px 0px 20px;
	padding: 0px 30px 0px 30px;
}

.navigation a {
	font-weight: 500;
	font-size: 20px; /*Fallback*/
	font-size: 2rem;
	line-height: 1.0;
	color: #576F72;
	text-decoration: none;
}

.navigation a:hover {
	font-weight: 500;
	font-size: 20px; /*Fallback*/
	font-size: 2rem;
	line-height: 1.0;
	color: rgba(35,35,35,1);
	text-decoration: none;
}

.navigation a span {
	font-weight: 500;
	font-size: 20px; /*Fallback*/
	font-size: 2rem;
	line-height: 1.0;
	color: rgba(35,35,35,1);
	text-decoration: none;
	border-bottom: 3px solid rgba(35,35,35,1);
	padding: 0px 0px 2px 0px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #F0EBE3;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	min-width: 10px;
	border-width: 0px;
}
.dropdown-menu a {
	color: #ADC2A9;
	text-decoration: none;
	display: block;
	font-size: 1rem;
	padding: 10px 0px;
	white-space: nowrap;
}
.dropdown-menu a:hover {
	font-size: 1rem;
	color: #99A799;
}
.dropdown:hover .dropdown-menu {
	display: block;
	min-width: 10px;
}

/* home design */
.home-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 70vh;
	padding: 10px;
	color: #576F72;
	gap: 100px;
}
.home-content h1 {
	font-size: 4.5rem;
	font-weight: 700;
}
.home-content a{
	text-decoration: none;
	color: #F0EBE3;
}
.home-content a:hover{
	color: #576F72;
}
.home-content button {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #576F72;
	cursor: pointer;
}
.home-content button:hover {
	background-color: #E4DCCF;
}
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 30px;
}