body
{
    background-color: #F0EBE3 !important;
}


.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

img
{
    width: 200px; /* 調整圖片的寬度 */
            height: 200px; /* 調整圖片的高度 */
            object-fit: cover; /* 確保圖片不變形，並填滿整個容器 */
}